




#ordenPageHero{

    border-style: solid;
   
    /* height: 50vh;
    width: 100vw; */
    background-repeat: no-repeat;
    background-position: center;
   
}

#ordenPageHero::before{
    content: "";
    background-image: url("../../../public/images/tacosHD.jpg");
    background-size:cover; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    opacity: .7;

}
#ordenPageHero:hover{
    transform: 1.5;
    box-shadow: 3px 2px lightgray;
  transform: scale(1.02);

}

#heroTS{
    position: relative;
    transform: rotate(5deg);
    color: rgb(255, 255, 255);
   font-size: 50px;
   font-weight: 700;

   text-align: center;
   font-family: "didot";
   margin-top: 50px;
   text-shadow: 2px 2px red;

}
#heroTE{
    position: relative;
    transform: rotate(350deg);
    color: rgb(255, 255, 255);
   font-size: 50px;
   font-weight: 700;
 
   text-align: center;
   font-family: "didot";
   text-shadow: 2px 2px red;
   margin-bottom: 30px;

}
#heroG{
    position: relative;
    text-shadow: 2px 2px black;
    color: azure;
   font-size: 25px;
   font-weight: 700;
  

}

.levelHover :hover {
    cursor: pointer !important;
    
}
