.hero {
    height: 50%; 
    background-image: url("https://www.placecage.com/g/200/300");
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    position: relative;
}
.title {
    color: lightyellow;
}


.subtitle {
    color: lightyellow;
}

#santos{
    border-radius: 50%;
}